<!-- footer start -->
<footer class="relative section-pt overflow-hidden bg-b-neutral-3">
    <div class="container">
        <div class="relative z-10 lg:px-10">
            @* <div class="flex items-center justify-between gap-24p pb-60p">
                <div class="max-w-[530px]">
                    <h2 class="display-4 text-w-neutral-1 mb-32p text-split-left">Subscribe to our</h2>
                    <h2 class="display-lg mb-32p">
                        Newsletter
                    </h2>
                    <form class="flex items-center gap-24p pb-16p border-b-2 border-dashed border-shap">
                        <input type="email" name="subscribe" id="subscribe" required="" placeholder="Enter your email address" class="input w-full bg-transparent text-w-neutral-1 placeholder:text-w-neutral-4">
                        <button type="submit" class="text-lg font-semibold font-poppins">Subscribe</button>
                    </form>
                </div>
            </div> *@
            <div class="grid 4xl:grid-cols-12 3xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 4xl:gap-x-6 max-4xl:gap-40p border-y-2 border-dashed border-shap py-80p">
                <div class="4xl:col-start-1 4xl:col-end-4">
                    <img class="mb-16p" src="/images/game_logo_1.jpg" alt="logo" style="width: 20%;">
                    <p class="text-base text-w-neutral-3 mb-32p">
                        Become visionary behind a sprawling metropolis in Metropolis Tycoon Plan empire progress.
                    </p>
                    <div class="flex items-center gap-3">
                        <a class="btn-socal-primary">
                            <i class="ti ti-brand-facebook"></i>
                        </a>
                        <a class="btn-socal-primary">
                            <i class="ti ti-brand-twitch"></i>
                        </a>
                        <a class="btn-socal-primary">
                            <i class="ti ti-brand-instagram"></i>
                        </a>
                        <a class="btn-socal-primary">
                            <i class="ti ti-brand-discord"></i>
                        </a>
                        <a class="btn-socal-primary">
                            <i class="ti ti-brand-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="4xl:col-start-5 4xl:col-end-7">
                    <div class="flex items-center gap-24p mb-24p">
                        <h4 class="heading-4 text-w-neutral-1 whitespace-nowrap ">
                            Main pages
                        </h4>
                        <span class="w-full max-w-[110px] h-0.5 bg-w-neutral-1"></span>
                    </div>
                    <ul class="grid grid-cols-2 sm:gap-y-16p gap-y-2 gap-x-32p *:flex *:items-center">
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                My Library
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Trending
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Leaderboard
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Chat
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Marketplace
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Shop
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Support
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Blogs
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="4xl:col-start-8 4xl:col-end-10">
                    <div class="flex items-center gap-24p mb-24p">
                        <h4 class="heading-4 text-w-neutral-1 whitespace-nowrap ">
                            Utility pages
                        </h4>
                        <span class="w-full max-w-[110px] h-0.5 bg-w-neutral-1"></span>
                    </div>
                    <ul class="grid grid-cols-2 sm:gap-y-16p gap-y-2 gap-x-32p *:flex *:items-center">
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Tournaments
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Games
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Community
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a lass="text-m-regular text-w-neutral-3">
                                Pricing
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Notifications
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Not found
                            </a>
                        </li>
                        <li class="group hover:translate-x-0 -translate-x-5 inline-flex items-center gap-1 hover:text-primary transition-1 max-w-fit">
                            <i class="ti ti-chevron-right  group-hover:visible invisible text-primary group-hover:opacity-100 opacity-0 transition-1"></i>
                            <a class="text-m-regular text-w-neutral-3">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="4xl:col-start-11 4xl:col-end-13">
                    <h4 class="heading-4 text-w-neutral-1 whitespace-nowrap  mb-3">
                        Email Us
                    </h4>
                    <a href="mailto:debra.holt@example.com" class="text-base text-w-neutral-3 mb-32p">
                        debra.holt@example.com
                    </a>
                    <h4 class="heading-5 whitespace-nowrap mb-3">
                        Contact Us
                    </h4>
                    <a class="text-base text-w-neutral-3">
                        (207) 555-0119
                    </a>
                </div>
            </div>
        </div>
        <div class="absolute right-0 top-0 xl:block hidden" data-aos="zoom-out-right" data-aos-duration="800">
            <img class="3xl:w-[580px] xxl:w-[500px] xl:w-[400px]" src="/images/footerIllustration.webp" alt="footer">
        </div>
    </div>
</footer>
<!-- footer end -->